body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #868686;
}
.bento-grid {
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  transition: 2000ms ease-in;
}
.item {
  border: 0px solid #ddd;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
}
span {
  align-items: center;
}
.item:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 12px rgba(20, 255, 16, 0.8);
}
img:hover {
  transition: 2000ms ease-in;
  background: transparent;
  scale: 1.2;
}
.item div {
  align-items: center;
  justify-content: center;
}
i {
  color: white;
  padding: 1rem;
  scale: 2;
  size: 2rem;
}
.grid-item-8 p {
  color: rgb(0, 0, 0);
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
.content h2 {
  font-size: 2rem;
}
.images:hover {
  scale: 1;
}
b {
  color: rgb(0, 255, 0);
}
.large {
  grid-column: span 2;
  background-color: rgb(0, 0, 0);
  color: white;
}
.small {
  grid-column: span 1;
  background: linear-gradient(
    135deg,
    rgba(57, 49, 49, 0.767),
    rgba(255, 235, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur (10px);
}
.medium {
  grid-column: span 1;
  background: linear-gradient(to right, #1aff00 10%, #a2ff90 70%);
}
.medium img {
  background-color: transparent;
  height: 12rem;
  width: 12rem;
}
.btn {
  text-decoration: none;
  height: 1.5rem;
  width: 6rem;
  border: 2px solid black;
  border-radius: 2rem;
  background-color: #1aff00;
  font-size: 0.5rem;
}
.btn:hover {
  color: rgb(0, 255, 0);
  background-color: black;
}
/* Responsive Layout */

@media (max-width: 1199px) and (min-width: 768px) {
  .bento-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    transform: translate(200ms ease-in);
  }
}

/* Small screens (phones) */
@media (max-width: 767px) {
  .bento-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
  }
}
